JOTFORM_API_KEY=replace_with_your_jotform_api_key
JOTFORM_MEMBER_DIRECTORY_FORM_ID=replace_with_member_directory_form_id
JOTFORM_MEMBER_EVENTS_FORM_ID=replace_with_member_events_form_id
JOTFORM_ANNOUNCEMENTS_FORM_ID=replace_with_announcements_form_id
JOTFORM_LUNCH_PAIRINGS_FORM_ID=replace_with_lunch_pairings_form_id
JOTFORM_INSPECTION_TOKEN=replace_with_a_long_random_inspection_token
